<div class="border-left border-primary p-2 mx-3">
  <p><%= @input %></p>
  <p class="font-italic"> -You </p>
</div>
<div class="border-left border-primary p-2 mx-3">
  <p><%= @response %></p>
  <p class="font-italic"> -Coach </p>
</div>
